.mobile-client {
  padding: 2px 0;
}
.mobile-client-balance {
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}
.mobile-client-fio {
  margin-right: 30px;
}
.mobile-company {
  width: 180px;
  padding: 3px 7px;
}
.mobile-company-name {
  font-weight: bold;
}
.mobile-company-clients {
  padding-top: 5px;
}
